{% extends 'index_base.html' %}

{#<!--头部-->#}
{% block content %}
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
    <div class="news clearfix">
    	<div class="news_l">
        	<div class="scd_top">
                <span>头条新闻</span>
                <div class="pst">
                    当前位置：<a href="{{ url_for('index') }}">首页</a>-<a href="">新闻中心</a>
                </div>
            </div>
            <div class="new_m">
            	<div class="box mainPhoto">
                  <div class="go slidegrid">
                    <ul class="slideitems">
                      <li>
                      	<div class="tu"><a href="/news/detail/{{ head_news.id }}"><img src="data:;base64,{{ base64.b64encode(head_news.image) }}" alt=""/></a></div>
                          <div class="n_m">
                            <div class="title">
                                <span>{{ head_news.add_time }}</span>
                                <p class="name"><a href="/news/detail/{{ head_news.id }}">{{ head_news.title }}</a></p>
                            </div>
                            <div class="des">
                                {{ head_news.content | truncate(25,True) }}
                            </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <script>
                $(function(){
                $('.mainPhoto .slidegrid').scrollable({size:1,circular:true,next:'.nextPage',prev:'.prevPage'}).autoscroll();
                });	
                </script> 
            	<div class="n_m">
                    <div class="title">
                        <span>{{ head_news.add_time }}</span>
                        <p class="name"><a href="/news/detail/{{ head_news.id }}">{{ head_news.title }}</a></p>
                    </div>
                    <div class="des">
                    {{ head_news.content | truncate(25,True) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="news_r">
        	<div class="scd_top">
                <span>全部新闻</span>
            </div>
            <div class="new_m">
                {% for news in news_all %}
                <div class="n_m">

                    <div class="title">
                        <span>{{ news.add_time }}</span>
                        <p class="name"><a href="/news/detail/{{ news.id }}">{{ news.title }}</a></p>
                    </div>
                    <div class="des">
                    {{ news.content | truncate(25,True) }}
                    </div>

                </div>
                {% endfor %}

        </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="pages">
    	<a href="{{ url_for('news',page=1) }}">首页</a>
        <a href="{% if pagination.has_prev %}{{ url_for('news',page=pagination.page-1) }}{% else %}#{% endif %}">上一页</a>
        {% for p in pagination.iter_pages() %}
            <a href="{{ url_for('news',page=p) }}">{{ p }}</a>
        {% endfor %}
        <a href="{% if pagination.has_next %}{{ url_for('news',page=pagination.page+1) }}{% else %}#{% endif %}">下一页</a>
{#        <a href="">尾页</a>#}

    </div>
</div>
{% endblock %}
